<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wiki home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600i|Dancing+Script:700|Great+Vibes|Quattrocento|Tangerine:700&amp;subset=latin-ext"
          rel="stylesheet">
    <script src="https://use.fontawesome.com/92e90057fb.js"></script>
    <link rel="stylesheet" href="/css/jquery.toast.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="./wiki.css">
</head>
<body>

<div class="container-fluid">
    <!-- Auth modal start -->
    <div class="modal fade" id="auth-modal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        {{LOGIN}}/{{REGISTER}} </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row auth-wrapper">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs mx-auto auth-toggle">
                            <li class="auth-toggle-button text-center">
                                <a href="#login" class="active" data-toggle="tab">
                                    {{LOGIN}}
                                </a>
                            </li>
                            <li class="auth-toggle-button text-center">
                                <a href="#registration" data-toggle="tab">
                                    {{REGISTER}}
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="login">
                                    <form role="form" action="javascript:void(0);"
                                          class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="email" class="form-control"
                                                       id="login-email"
                                                       placeholder="{{EMAIL}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="login-password"
                                                       placeholder="{{PASSWORD}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="button" onclick="login();"
                                                        class="btn btn-primary btn-md">
                                                    {{LOGIN}}
                                                </button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="registration">
                                    <form role="form" action="javascript:void(0)"
                                          class="form-horizontal">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="text" class="form-control"
                                                           id="register-full-name"
                                                           placeholder="{{FULL_NAME}}"/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="email" class="form-control"
                                                       id="register-email"
                                                       placeholder="{{EMAIL}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="register-password"
                                                       placeholder="{{PASSWORD}}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="register-password-confirm"
                                                       placeholder="{{CONFIRM_PASSWORD}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="button" onclick="registration()"
                                                        class="btn btn-primary btn-md">
                                                    {{REGISTER}}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Auth modal end-->

    <!-- Header start -->
    <div class="row" style="clear:both;">
        <div class="col-sm-3 col-md-3 col-lg-2 text-left">
            <!-- Leave here just for position -->
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5 offset-lg-1 text-center logo">
            <a href="/" class="logo-font h1" style="text-decoration: none">Hedonistic Zagreb</a>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 text-right language-signIn" id="languagesAndSignIn">
            <span id="command-area"></span>
        </div>
    </div>
</div>

<ul class="nav nav-fill category-menu" id="navigation">
    <!-- Blue separating line-->
</ul>

<!-- Header end-->

<div class="container">
    <div class="row">
        <h1>Table of content</h1>
    </div>
    <div class="row">
        <br>
        <ol>
            <li><a href="./database/database.html">Database definition</a></li>
            <li><a href="#">Application specific objects</a>
                <ul>
                    <li><a href="models/response-data.html">ResponseData</a></li>
                    <li><a href="models/user.html">User</a></li>
                    <li><a href="models/language.html">Language</a></li>
                    <li><a href="models/category.html">Category</a></li>
                    <li><a href="models/venue.html">Venue</a></li>
                    <li><a href="models/rating.html">Rating</a></li>
                    <li><a href="models/review.html">Review</a></li>
                </ul>
            </li>
            <li><a href="#">REST API definition</a>
                <ol>
                    <li>/api/auth
                        <ul>
                            <li><a href="./rest/auth/login.html"><span class="POST">POST</span>&nbsp;&nbsp;/login</a>
                            </li>
                            <li><a href="./rest/auth/register.html"><span class="POST">POST</span>&nbsp;&nbsp;/register</a>
                            </li>
                            <li><a href="./rest/auth/logout.html"><span class="GET">GET</span>&nbsp;&nbsp;/logout</a>
                            </li>
                        </ul>
                    </li>
                    <li>/api/user
                        <ul>
                            <li><a href="./rest/user/get-all.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a></li>
                            <li><a href="./rest/user/activate.html"><span
                                    class="PUT">PUT</span>&nbsp;&nbsp;/:user_id</a></li>
                        </ul>
                    </li>
                    <li>/api/language
                        <ul>
                            <li><a href="./rest/language/get-all.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a>
                            </li>
                            <li><a href="./rest/language/create.html"><span class="POST">POST</span>&nbsp;&nbsp;/</a>
                            </li>
                            <li><a href="./rest/language/change.html"><span
                                    class="GET">GET</span>&nbsp;&nbsp;/change</a></li>
                            <li><a href="./rest/language/update.html"><span class="PUT">PUT</span>&nbsp;&nbsp;/:language_id</a>
                            </li>
                            <li><a href="./rest/language/get-one.html"><span class="GET">GET</span>&nbsp;&nbsp;/:language_id</a>
                            </li>
                            <li><a href="./rest/language/delete.html"><span class="DELETE">DELETE</span>&nbsp;&nbsp;/:language_id</a>
                            </li>
                        </ul>
                    </li>
                    <li>/api/category
                        <ul>
                            <li><a href="./rest/category/get-all.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a>
                            </li>
                            <li><a href="./rest/category/create.html"><span class="POST">POST</span>&nbsp;&nbsp;/</a>
                            </li>
                            <li><a href="./rest/category/get-by-name.html"><span class="GET">GET</span>&nbsp;&nbsp;/get</a>
                            </li>
                            <li><a href="./rest/category/get-one.html"><span class="GET">GET</span>&nbsp;&nbsp;/:category_id</a>
                            </li>
                            <li><a href="./rest/category/update.html"><span class="PUT">PUT</span>&nbsp;&nbsp;/:category_id</a>
                            </li>
                            <li><a href="./rest/category/delete.html"><span class="DELETE">DELETE</span>&nbsp;&nbsp;/:category_id</a>
                            </li>
                        </ul>
                    </li>
                    <li>/api/venue
                        <ul>
                            <li><a href="./rest/venue/get-all.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a></li>
                            <li><a href="./rest/venue/create.html"><span class="POST">POST</span>&nbsp;&nbsp;/</a></li>
                            <li><a href="./rest/venue/get-one.html"><span
                                    class="GET">GET</span>&nbsp;&nbsp;/:venue_id</a></li>
                            <li><a href="./rest/venue/update.html"><span
                                    class="PUT">PUT</span>&nbsp;&nbsp;/:venue_id</a></li>
                            <li><a href="./rest/venue/delete.html"><span class="DELETE">DELETE</span>&nbsp;&nbsp;/:venue_id</a>
                            </li>
                        </ul>
                    </li>
                    <li>/api/review</li>
                    <li>/api/rating</li>
                    <li>/api/database
                        <ul>
                            <li><a href="./rest/database/test.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a></li>
                        </ul>
                    </li>
                    <li>/api/session
                        <ul>
                            <li><a href="./rest/session/info.html"><span class="GET">GET</span>&nbsp;&nbsp;/</a></li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/92e90057fb.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
<script src="/js/plugins/jquery.toast.min.js"></script>
<script src="/js/customToaster.js"></script>
<script src="/js/util.js"></script>
<script src="/js/const.js"></script>
<script src="/js/dynamicElements.js"></script>
<script src="/js/localization.js"></script>
<script src="/js/language.js"></script>
<script src="/js/login.js"></script>
<script>
  window.onload = () => {
    checkSession();
  }
</script>
</body>
</html>
