/* TOC STYLES */
.GET {
  color: purple;
  font-weight: bold;
}

.POST {
  color: green;
  font-weight: bold;
}

.PUT {
  color: orange;
  font-weight: bold;
}

.DELETE {
  color: red;
  font-weight: bold;
}

.back {
  margin-top: auto;
  margin-bottom: 8px;
  cursor: pointer !important;
}

.back:hover {
  cursor: pointer !important;
}

/* Table definition */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

tr {
  height: 70px;
}

.field-name {
  background-color: rgba(0,0,0,0.05);
  font-weight: bold;
  width: 20%;
}

td {
  padding: 8px 20px !important;
}

.category-menu {
    margin-bottom: 30px;
}

/* Bootstrap customization */
/*.row {*/
  /*display: -webkit-box;*/
  /*display: -webkit-flex;*/
  /*display: -ms-flexbox;*/
  /*display:         flex;*/
  /*flex-wrap: wrap;*/
/*}*/
/*.row > [class*='col-'] {*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/
