#login, #registration {
    animation: fadeIn 600ms linear 0s 1 normal forwards running;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.modal-content {
    margin-top: 180px;
    width: 70%;
    margin-left: 15%;
}

.auth-wrapper > .nav, .auth-wrapper > .nav-tabs {
    border: none;
}

.auth-toggle {
    text-align: center;
    margin: 0.25em auto 0.5em;
    padding: 0.25em 0.25em;
    font-size: 16pt;
    line-height: 18pt;
}

.auth-toggle-button {
    display: inline !important;
    float: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.auth-toggle-button .active {
    text-decoration: underline;
}

.auth-toggle-button a {
    text-decoration: none;
}

.auth-toggle-button:hover {
    font-size: 18pt;
}

.auth-toggle-button:nth-child(even) {
    margin-left: 0.325em;
}

.auth-toggle-button:nth-child(odd) {
    margin-right: 0.325em;
}

.sign-with {
    margin-top: 25px;
    padding: 20px;
}

div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

#command-area {
    margin-right: 10px;
}