@import url('https://fonts.googleapis.com/css?family=Rochester');

* {
    font-family: "Quattrocento", serif;
}

#background {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.4;
    filter: blur(70);
    height: 100%;
    width: 100%;
    transition: all 2500ms;
}

.search {
    margin-top: 35px;
}

.search input {
    background-color: rgba(255, 255, 255, 0.6);
}

.search-btn {
    background: none;
    border: 1px solid #ced4da;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #001879;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.language-signIn {
    margin-right: 0;
    font-size: 30px;
    line-height: 100px;
    text-align: right;
}

/* When bootstrap changes to medium*/
@media screen and (max-width: 991px) {
    .language-signIn {
        line-height: 25px;
        text-align: center;
    }

    .logo {
        margin-bottom: 5px;
    }
}

.logo-font {
    font-family: 'Great Vibes', cursive !important;
    font-size: 4em;
    color: #001879;
}

.language-signIn button {
    color: #0024b3;
}

.language-signIn button:hover {
    color: #5a77ee;
    cursor: pointer;
    text-decoration: none;
}

#languagesAndSignIn > button > img {
    width: 100%;
    max-width: 25px;
}

.category-menu {
    background: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-color: #0024b3;
    border-width: 1px;
    border-left: none;
    border-right: none;
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    margin-bottom: 150px;
}

.text-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em;
}

.category-menu a {
    color: #0024b3;
}

.category-menu a:hover {
    color: #5a77ee;
}

.btn-menu {
    width: 100%;
}

.btn-menu, .btn-close {
    margin: 10px auto 0;
    background: transparent;
    border: none;
    outline: none;
    color: #0024b3;
    font-size: 24px;
    font-family: 'Quattrocento', serif;
    z-index: 10;
}

.btn-menu:focus, .btn-close:focus {
    outline: none;
}

.btn-menu:hover, .btn-close:hover {
    color: #5a77ee;
    cursor: pointer;
}

@media screen and (min-width: 992px) {

    .btn-menu, .btn-close {
        display: none;
    }

    #nav-hr {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    .nav {
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.95);
        position: absolute;
        top: 0;
        left: 40%;
        width: 300px;
        display: none;
    }

    .nav:target {
        transform: translateX(340px);
    }

    #nav-hr {
        display: block;
        border: 0.5px solid #001879;
    }

    #languagesAndSignIn {
        text-align: center !important;
        margin: 0px;
        margin-bottom: 1rem;
    }

    .navbar {
        border: none;
        background: none;
    }

    #command-area {
        margin-bottom: 50px;
        position: absolute;
    }

    #navigation {
        top: 45px;
    }
}

.navbar {
    height: 50px;
}

#language-area button {
    padding: 5px;
}

.dropdown-menu {
    font-size: 1.3rem;
}

.nav.expanded {
    display: block;
}

.welcome h1 {
    margin-bottom: -16px;
    font-family: 'Rochester', cursive;
    font-size: 90px;
    color: #001879;
}

.description {
    font-size: 18px;
    line-height: 28px;
}

.sign {
    color: #0024b3;
}

.language-list {
    line-height: 30px;
    vertical-align: middle;
    transition: all 500ms;
    list-style: none;
}

.language-list .btn, .language-list .btn:hover {
    line-height: 25px;
    vertical-align: middle;
    text-decoration: none !important;

}

.language-flag {
    max-height: 25px;
    max-width: 25px;
    transition: all 300ms;
}

.language-flag:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.language-name {
    text-decoration: none !important;
}

.copyright {
    font-size: 1.2rem;
    line-height: 40px;
    text-decoration: none;
    color: #001879;
}

.copyright:hover {
    text-decoration: none;
}

.nav-list {
    list-style: none;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0;
    padding: 0;
}

.nav-list li a {
    color: #001879;
}

footer {
    background-color: rgba(249, 246, 255, 0.4);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #001879;
}

@media screen and (max-width: 767px) {
    .language-list {
        text-align: center !important;
    }

    .nav-list {
        text-align: center !important;
    }
}

.auth-wrapper .nav {
    /* hack */
    position: relative;
    left: 0;
    display: block;
}
