.table-container {
    margin-top: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.table {
    overflow-x: scroll;
    padding-right: 5em !important;
    padding-left: 5em !important;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin: 0 !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.id {
    padding-right: 0;
    width: 75px !important;
    max-width: 75px !important;
}

.table td {
    width:auto;
    padding: 0.25em 1.25em !important;
    vertical-align: middle !important;
    text-align: left;
    /*max-width: 150px;*/
    word-break: break-all;
}

.table tr th {
    width: auto;
    vertical-align: middle;
    padding: 0.25em 1.25em !important;
    text-align: left;
    font-size: 15pt;
}


.btn-sm {
    font-size: 0.675rem !important;
    padding: 0.25rem 0.5rem !important;
}