.search {
    margin-top: 25px;
}

.search-btn {
    background: none;
    border: 1px solid #ced4da;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #023bf5;
}

.logo-font {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #00185e;
}

.language-signIn {
    margin-top: 20px;
    font-family: 'Quattrocento', serif;
    font-size: 30px;
}

.language-signIn button {
    color: #023bf5;
}

.category-menu {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #023bf5;
    border-right-style: none;
    border-left-style: none;
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.category-menu a {
    color: #023bf5;
}

.admin-menu {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
}

.admin-menu a {
    color: #023bf5;
    transition: transform 200ms;
}

.admin-menu a:hover {
    color: #023bf5;
    transform: scale(1.1);
}

.table {
    font-family: 'Quattrocento', serif;
}

.table thead th {
    font-size: 20px;
}

.table tbody tr th {
    font-size: 17px;
    font-weight: normal;
}

.table tbody tr td {
    font-size: 17px;
}
td p {
    margin-bottom: 0px;
    text-align: center;
}

.table caption {
    caption-side: top;
    text-align: left;
}

#languagesAndSignIn > button > img {
    width: 100%;
    max-width: 25px;
}

.btn-center {
    display: block;
    margin: 0 auto 0px auto;
}

input:invalid {
    border: 1px solid #e24141;
}

.table-info, .table-info>td, .table-info>th {
    background-color: #d9e8eb;
 }