.venue-wrapper {
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 15px;
    background: rgba(249, 246, 255, 0.4);
}

.category-menu {
    margin-bottom: 5px;
}

.venue-title {
    padding-bottom: 10px;
    font-size: 26px;
    color: #0024b3;
}

.image-map-wrapper {
    padding-bottom: 20px;
}

.image-map {
    flex-direction: column;
}

.image-map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 10px;
}

.rating-number {
    display: block;
    font-size: 1.25rem;
    text-align: center;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-bottom: 0;
    text-align: center;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 1.25rem;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.venue-address {
    font-size: 1.25rem;
    padding-top: 10px;
}

.description-info-wrapper {
    padding-bottom: 20px;
}

.venue-description {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.info-wrapper {
    padding-bottom: 35px;
    font-size: 1.25rem;
}

.venue-info {
    padding-bottom: 10px;
}

#map {
    height: 357px;
    width: 100%;
}

/* COMMENT STYLE START */

.comments {
    width: 100%;
    margin-top: 20px;
}

.comment {
    width: 100%;
    display: flex;
    align-items: center;
}

.comment-user-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.comment-author {
    font-size: 12px;
    color: #666;
    text-decoration: none;
    font-weight: 700;
    display: inline-flex;
    margin-top: 5px;
}

.comment-content-wrap {
    width: 80%;
    padding: 20px;
}

.comment-content {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.post-date,
.comment-date {
    font-size: 12px;
    color: #999;
}

.profile-pic-wrap {
    width: 120px;
    height: 120px;
    display: inline-flex;
    border: 5px solid rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    z-index: 1;
}

.ppw-small {
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: none;
}

.profile-pic-wrap > img {
    width: 100%;
    height: 100%;
}

.ti-comment {
    margin-bottom: 10px;
}

.ti-comment:focus,
.ti-comment:after {
    margin-bottom: 8px;
}

.add-comment {
    padding: 20px;
    margin-bottom: 2em;
}

.text-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 100%;
    font-size: 14px;
    margin-bottom: 21px;
}

.text-input:focus,
.text-input:active {
    border-bottom: 2px solid rgba(90, 119, 238, 0.3);
    margin-bottom: 20px;
}

.text-input-title {
    font-weight: 500;
    font-size: 18px;
}

.textarea-input {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255,255,255, 0.5);
    outline: none;
    font-size: 14px;
    margin-bottom: 22px;
}

.textarea-input:focus,
.textarea-input:active {
    border: 2px solid rgba(90, 119, 238, 0.7);
    margin-bottom: 21px;
    transition: all 300ms;
}

/* COMMENT STYLE END*/

/*@media (min-width: 1200px) {*/

/*}*/

/*@media (min-width: 992px) and (max-width: 1199.99px) {*/

/*}*/

/*@media (min-width: 768px) and (max-width: 991.99px) {*/

/*}*/

/*@media (min-width: 576px) and (max-width: 767.99px) {*/

/*}*/

/*@media (max-width: 575.99px) {*/

/*}*/