.search {
    margin-top: 25px;
}

.search-btn {
    background: none;
    border: 1px solid #ced4da;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #023bf5;
}

.logo-font {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #00185e;
}

.language-signIn {
    margin-top: 20px;
    font-family: 'Quattrocento', serif;
    font-size: 30px;
}

.language-signIn button {
    color: #023bf5;
}

.category-menu {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #023bf5;
    border-right-style: none;
    border-left-style: none;
    font-family: 'Quattrocento', serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.category-menu a {
    color: #023bf5;
}

.admin-menu {
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Quattrocento', serif;
    font-size: 20px;
}

.admin-menu a {
    color: #023bf5;
    transition: transform 200ms;
}

.admin-menu a:hover {
    color: #023bf5;
    transform: scale(1.1);
}

.table {
    font-family: 'Quattrocento', serif;
}

.table thead th {
    font-size: 20px;
}

.table tbody tr th {
    font-size: 17px;
    font-weight: normal;
}

.table tbody tr td {
    font-size: 17px;
}

td p {
    margin-bottom: 0px;
    text-align: center;
}
.table caption {
    caption-side: top;
    text-align: left;
}

.btn-primary {
    justify-content: center;
}

.venue-container {
    padding: 2px 16px;

}

#languagesAndSignIn > button > img {
    width: 100%;
    max-width: 25px;
}

#myModal, #myModalContent, #myModalDialog,
#myUpdateModal, #myUpdateModalContent, #myUpdateModalDialog {
    min-width: 95%;
    min-height: 95%;
    padding: 0;
    margin: 0 auto;
}

#myModalDialog, #myUpdateModalDialog {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.bg-dark {
    color: white;
}

.bg-secondary {
    color: white;
    background-color: cadetblue;
}

#card1 {
    color: #777777;
}

.btn-primary {
    display: block;
    margin: 0 auto 0px auto;
}

#myModal {
    padding: 0.2rem;
}

#aModal1:link, #aModal1:active, #aModal1:hover, #aModal1:visited,
#aModal2:link, #aModal2:active, #aModal2:hover, #aModal2:visited,
#aModal3:link, #aModal3:active, #aModal3:hover, #aModal3:visited,
#aModal4:link, #aModal4:active, #aModal4:hover, #aModal4:visited,
#aModal5:link, #aModal5:active, #aModal5:hover, #aModal5:visited,
#aModal6:link, #aModal6:active, #aModal6:hover, #aModal6:visited {
    color: white;
}

#collapseName, #collapseDesc, #collapse-categories, #collapseDetails {
    display: block;
}

#update-collapse-basic-data, #update-collapse-categories, #collapseDetailsUpdate {
    display: block;
}

#collapse-categories {
    padding: 1rem;
}
.table-info, .table-info>td, .table-info>th {
   background-color: #d9e8eb;
}
.btn-file {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}