.content-wrapper {
    margin: 0px 1rem;
}
.card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 16px 0 rgba(69, 30, 160, 0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 10px;
    height: 300px;
    margin: 15px 0px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(90, 119, 238, 0.35);
    transform: translate3d(2px, -3px, 0px);
}

a {
    color: #0024b3;
    font-size: 20px;
}

a:hover {
    color: #5a77ee;

}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.category-menu {
    margin-bottom: 3rem;
}

.card-custom-header {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem 0;
}

.column {
    margin-left: 1.5rem;
}

.col-md-6 img {
    max-width: -webkit-fill-available;
    height: 9rem;
    margin-left: 0.6rem;
    object-fit: cover;
}

.venue-info {
    text-align: center;
    padding: 0.3rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.rating {
    display: block;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin-top: 0.6rem;
    font-size: 1.5rem;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.number-rating, .address, .phone, .rating {
    font-size: 1.5rem;
    padding: 0.3rem;
}

.number-rating {
    text-align: center;
    margin-top: 0.6rem;
}

.description-venue {
    height: 9rem;
    overflow: hidden;
    padding: 0px 0.6rem 0.3rem 0.2rem;
}

@media only screen and (max-width: 767px) {
    .col-md-6 img {
        max-height: 15rem;
        object-fit: cover;
        max-width: 100%;
        width: -webkit-fill-available;
    }
    .card {
        height: 400px;
    }

    .description-venue {
        height: 3rem;
    }
}

@media screen and (max-width: 980px) and (min-width: 615px){
    .rating > span{
        font-size: 1rem;
    }
}