<!doctype html>
<html lang="{{LANG}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{FORGOT_PASSWORD}}</title>
    <link rel="icon" href="/images/HZLogo.png"">

   <link rel="stylesheet"
          href="/css/bootstrap.min.css"
          >
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600i|Dancing+Script:700|Great+Vibes|Quattrocento|Tangerine:700&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="./css/jquery.toast.min.css">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
</head>

<body>
    <div id="background"></div>

    <div class="container-fluid">
        <!-- Auth modal start -->
        <div class="modal fade" id="auth-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            {{LOGIN}}/{{REGISTER}} </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row auth-wrapper">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs mx-auto auth-toggle">
                                <li class="auth-toggle-button text-center">
                                    <a href="#login" class="active" data-toggle="tab">
                                        {{LOGIN}}
                                    </a>
                                </li>
                                <li class="auth-toggle-button text-center">
                                    <a href="#registration" data-toggle="tab">
                                        {{REGISTER}}
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="login">
                                        <form role="form" action="javascript:void(0);" class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="email" class="form-control" id="login-email" placeholder="{{EMAIL}}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="password" class="form-control" id="login-password" placeholder="{{PASSWORD}}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12 text-center">
                                                    <button type="button" onclick="login();" class="btn btn-primary btn-md mr-3">
                                                        {{LOGIN}}</button>
                                                    <a type="nav-link" href="/forgot_password">{{FORGOT_PASSWORD}}</a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="tab-pane" id="registration">
                                        <form role="form" action="javascript:void(0)" class="form-horizontal">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <div class="col-sm-10 offset-sm-1">
                                                        <input type="text" class="form-control" id="register-full-name" placeholder="{{FULL_NAME}}" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="email" class="form-control" id="register-email" placeholder="{{EMAIL}}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="password" class="form-control" id="register-password" placeholder="{{PASSWORD}}" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="password" class="form-control" id="register-password-confirm" placeholder="{{CONFIRM_PASSWORD}}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12 text-center">
                                                    <button type="button" onclick="registration()" class="btn btn-primary btn-md">
                                                        {{REGISTER}}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Auth modal end-->

        <!-- Header start -->
        <div class="row" style="clear:both;">
            <div class="col-lg-3 col-md-12 text-left" id=search-area>
                <div class="input-group search">
                    <input type="text" class="form-control" id="searchInput" placeholder="{{SEARCH}}">
                    <span class="input-group-btn">
                        <button class="btn btn-light search-btn" type="button" id='searchVenue'
                                onclick="search(searchInput.value)">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 text-center logo" id="logo-area">
                <a href="/" class="logo-font h1" style="text-decoration: none">Hedonistic Zagreb</a>
            </div>

            <div class="col-lg-3 col-md-12 language-signIn" id="language-area">
                <button type="button" class="btn btn-link" onclick="changeLanguage('hr')">
                    <img class="language-flag" src="/images/CroatiaFlag.png"/>
                </button>
                <button type="button" class="btn btn-link" onclick="changeLanguage('kr')">
                    <img class="language-flag" src="/images/SouthKoreaFlag.png"/>
                </button>
                <button type="button" class="btn btn-link" onclick="changeLanguage('en')">
                    <img class="language-flag" src="/images/UnitedKingdomFlag.png"/>
                </button>
            </div>
        </div>
    </div>

    <button onclick="navbarShow()" class="btn-menu">{{MENU}}</button>
    <hr id="nav-hr"/>
    <div class="navbar category-menu">
        <ul class="nav" id="navigation">
            <!--<li class="nav-item">-->
            <!--<a href="#" onclick="navbarClose()" class="nav-link">Close</a>-->
            <!--</li>-->
            <!-- Load categories dynamically-->
            <span id="nav-separator" style="display:none;"></span>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="command-area">
        </ul>
    </div>

    <!-- Header end-->

    <div class="container text-container ">
        <div class="row justify-content-center">
            <div class="col-md-4 col-md-offset-4" id="before-reset">
                <div class="text-center">
                    <h3 class="text-center">{{ENTER_EMAIL}}</h3>
                    <p>{{LINK_SENT}}</p>
                    <form id="forgot-form" role="form" autocomplete="off" class="form" method="post">
                        <div class="form-group">
                            <input id="email" placeholder={{EMAIL}} class="form-control" type="email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">{{RESET_PASSWORD}}</button>
                        </div>
                        <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>
                </div>
            </div>
            <div id="after-reset" class="col-md-6 col-md-offset-4 text-center" hidden>
                <h4>{{EMAIL_SENT}}</h4>
            </div>
        </div>
    </div>

    <script src="/js/plugins/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins/popper.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/fontAwesome.js"></script>
    <script src="/js/plugins/handlebars.js"></script>
    <script src="/js/plugins/jquery.toast.min.js"></script>
    <script src="/js/customToaster.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/const.js"></script>
    <script src="/js/dynamicElements.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/localization.js"></script>
    <script src="/js/language.js"></script>
    <script src="/js/forgot-password.js"></script>
    <script src="/js/login.js"></script>

</body>

</html>