<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Hedonistic Zagreb</title>
    <link rel="icon" href="/images/HZLogo.png">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css"
    >
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600i|Dancing+Script:700|Great+Vibes|Quattrocento|Tangerine:700&amp;subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery.toast.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/venue_administration.css">
    <link rel="stylesheet" href="/css/table.css"/>

    <script src="/js/plugins/fontAwesome.js"></script>
</head>

<body>
<div class="container-fluid">

    <div class="modal fade" id="auth-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        {{LOGIN}}/{{REGISTER}} </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row auth-wrapper">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs mx-auto auth-toggle">
                            <li class="auth-toggle-button text-center">
                                <a href="#login" class="active" data-toggle="tab">
                                    {{LOGIN}}
                                </a>
                            </li>
                            <li class="auth-toggle-button text-center">
                                <a href="#registration" data-toggle="tab">
                                    {{REGISTER}}
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="tab-content">
                                <div class="tab-pane active" id="login">
                                    <form role="form" action="javascript:void(0);"
                                          class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="email" class="form-control"
                                                       id="login-email"
                                                       placeholder="{{EMAIL}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="login-password"
                                                       placeholder="{{PASSWORD}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="button" onclick="login();"
                                                        class="btn btn-primary btn-md">
                                                    {{LOGIN}}
                                                </button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="registration">
                                    <form role="form" action="javascript:void(0)"
                                          class="form-horizontal">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-sm-10 offset-sm-1">
                                                    <input type="text" class="form-control"
                                                           id="register-full-name"
                                                           placeholder="{{FULL_NAME}}"/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="email" class="form-control"
                                                       id="register-email"
                                                       placeholder="{{EMAIL}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="register-password"
                                                       placeholder="{{PASSWORD}}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-10 offset-sm-1">
                                                <input type="password" class="form-control"
                                                       id="register-password-confirm"
                                                       placeholder="{{CONFIRM_PASSWORD}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="button" onclick="registration()"
                                                        class="btn btn-primary btn-md">
                                                    {{REGISTER}}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header start -->
    <div class="row" style="clear:both;">
        <div class="col-lg-3 col-md-12 text-left" id=search-area>
            <div class="input-group search">
                <input type="text" class="form-control" id="searchInput" placeholder="{{SEARCH}}">
                <span class="input-group-btn">
                        <button class="btn btn-light search-btn" type="button" id='searchVenue'
                                onclick="search(searchInput.value)">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 text-center logo" id="logo-area">
            <a href="/" class="logo-font h1" style="text-decoration: none">Hedonistic Zagreb</a>
        </div>

        <div class="col-lg-3 col-md-12 language-signIn" id="language-area">
            <button type="button" class="btn btn-link" onclick="changeLanguage('hr')">
                <img class="language-flag" src="/images/CroatiaFlag.png"/>
            </button>
            <button type="button" class="btn btn-link" onclick="changeLanguage('kr')">
                <img class="language-flag" src="/images/SouthKoreaFlag.png"/>
            </button>
            <button type="button" class="btn btn-link" onclick="changeLanguage('en')">
                <img class="language-flag" src="/images/UnitedKingdomFlag.png"/>
            </button>
        </div>
    </div>
</div>

<button onclick="navbarShow()" class="btn-menu">{{MENU}}</button>
<hr id="nav-hr"/>
<div class="navbar category-menu">
    <ul class="nav" id="navigation">
        <!-- Load categories dynamically-->
        <span id="nav-separator" style="display:none;"></span>
    </ul>
    <ul class="nav navbar-right" id="command-area">
    </ul>
</div>

<!-- Header end-->

<ul class="nav justify-content-center admin-menu">
    <li class="nav-item">
        <a class="nav-link" href="/admin/user">{{USERS}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/venue">{{VENUES}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/category">{{CATEGORIES}}</a>
    </li>
</ul>

<div class="table-responsive table-container">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr class="table-primary">
            <th class="id" scope="col">#</th>
            <th scope="col">{{NAME}}</th>
            <th scope="col">{{ADDRESS}}</th>
            <th scope="col">{{EMAIL}}</th>
            <th scope="col">{{PHONE}}</th>
            <th scope="col">{{WEBSITE}}</th>
            <th scope="col">{{EDIT}}</th>
            <th scope="col">{{DELETE}}</th>
        </tr>
        </thead>

        <tbody id="venues-table-body">
        <!--Load venues here-->
        </tbody>
    </table>
</div>

</div>

<!--Adding new venue-->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
        onclick="emptyModal()">{{ADD}}</button>

<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" id="myModalDialog">
            <div class="modal-content" id="myModalContent">
                <!-- Modal Header -->
                <div class="modal-header bg-dark">
                    <h4 class="modal-title">{{ADD_NEW_VENUE}}</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="accordion" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="card-link" id="aModal1" data-parent="#accordion"
                                                   data-toggle="collapse" href="#collapseName">
                                                    * {{NAME}}</a>
                                            </div>
                                            <div class="collapse" id="collapseName"  style="display: block;">
                                                <div class="card-body" parent="collapseName" type="collapse">
                                                    <div>
                                                        * {{NAME_EN}}
                                                        <input class="form-control" id="name_en" type="text"
                                                               required="true">
                                                    </div>
                                                    <div>
                                                        * {{NAME_HR}}
                                                        <input class="form-control" id="name_hr" type="text"
                                                               required="true">
                                                    </div>
                                                    <div>
                                                        * {{NAME_KR}}
                                                        <input class="form-control" id="name_kr" type="text"
                                                               required="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="accordion2" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal2" data-parent="#accordion2"
                                                   data-toggle="collapse" href="#collapseDesc">
                                                    * {{DESCRIPTION}}</a>
                                            </div>
                                            <div class="collapse" id="collapseDesc"  style="display: block;">
                                                <div class="card-body" parent="collapseDesc" type="collapse">
                                                    <label for="desc_en">* {{DESC_EN}}</label>
                                                    <textarea class="form-control" id="desc_en" rows="5"
                                                              required="true"></textarea>
                                                </div>
                                                <div class="card-body">
                                                    <label for="desc_hr">* {{DESC_HR}}</label>
                                                    <textarea class="form-control" id="desc_hr" rows="5"
                                                              required="true"></textarea>
                                                </div>
                                                <div class="card-body">
                                                    <label for="desc_kr">* {{DESC_KR}}</label>
                                                    <textarea class="form-control" id="desc_kr" rows="5"
                                                              required="true"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div id="accordion3" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal3" data-parent="#accordion3"
                                                   data-toggle="collapse" href="#collapse-categories">
                                                    {{CATEGORIES}}</a>
                                            </div>
                                            <div class="collapse" id="collapse-categories" style="display: block;">
                                                <!--Load categories here-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="accordion4" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal5" data-parent="#accordion4"
                                                   data-toggle="collapse" href="#collapseDetails">
                                                    {{DETAILS}}</a>
                                            </div>
                                            <div class="collapse" id="collapseDetails" style="display: block;">
                                                <div class="card-body" parent="collapseDetails" type="collapse">
                                                    <div>
                                                        <label for="pwd">{{ADDRESS}}</label>
                                                        <input class="form-control" id="address">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{PHONE}}</label>
                                                        <input class="form-control" id="phone">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{EMAIL}}</label>
                                                        <input class="form-control" id="email" type="email">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{WEBSITE}}</label>
                                                        <input class="form-control" id="website">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label for="file-input" class="btn btn-file">
                                    {{IMAGE}}
                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                </label>
                                <input id="file-input" type="file" style="visibility: hidden" name="photo"/>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-dark">
                    <button class="btn btn-success" data-dismiss="modal" type="button"
                            onclick="createVenue()">{{SAVE}}</button>
                    <button class="btn btn-danger" data-dismiss="modal" type="button"
                            onclick="close()">{{CLOSE}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="myUpdateModal">
        <div class="modal-dialog" id="myUpdateModalDialog">
            <div class="modal-content" id="myUpdateModalContent">
                <!-- Modal Header -->
                <div class="modal-header bg-dark">
                    <h4 class="modal-title">{{UPDATE_VENUE}}</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="accordion3-1" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal5" data-parent="#accordion3-1"
                                                   data-toggle="collapse" href="#update-collapse-basic-data">
                                                    {{BASIC_DATA}}</a>
                                            </div>
                                            <div class="collapse" id="update-collapse-basic-data" style="display: block;">
                                                <div class="card-body" parent="update-collapse-basic-data"
                                                     type="collapse">
                                                    <div>
                                                        * {{NAME}}
                                                        <input class="form-control" id="name_update" type="text"
                                                               required="true">
                                                    </div>

                                                    <div>
                                                        <label for="desc_update">* {{DESCRIPTION}}</label>
                                                        <textarea class="form-control" id="desc_update" rows="5"
                                                                  required="true"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="file-input-update" class="btn btn-file">
                                        {{IMAGE}}
                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                    </label>
                                    <input id="file-input-update" type="file" style="visibility: hidden" name="photo"/>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div id="accordion3-2" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal4" data-parent="#accordion3-2"
                                                   data-toggle="collapse" href="#update-collapse-categories">
                                                    {{CATEGORIES}}</a>
                                            </div>
                                            <div class="collapse" id="update-collapse-categories" style="display: block;">
                                                <!--Load categories here-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="accordion4-2" class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header bg-info">
                                                <a class="collapsed card-link" id="aModal5" data-parent="#accordion4-2"
                                                   data-toggle="collapse" href="#collapseDetailsUpdate">
                                                    {{DETAILS}}</a>
                                            </div>
                                            <div class="collapse" id="collapseDetailsUpdate" style="display: block;">
                                                <div class="card-body" parent="collapseDetailsUpdate" type="collapse">
                                                    <div>
                                                        <label for="pwd">{{ADDRESS}}</label>
                                                        <input class="form-control" id="address_update">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{PHONE}}</label>
                                                        <input class="form-control" id="phone_update">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{EMAIL}}</label>
                                                        <input type="email" class="form-control" id="email_update">
                                                    </div>
                                                    <div>
                                                        <label for="pwd">{{WEBSITE}}</label>
                                                        <input class="form-control" id="website_update">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Dont remove-->
                            <input type="hidden" id="venue_id"/>
                            <input type="hidden" id="localized_data_id"/>
                            <!--!-->
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-dark">
                    <button class="btn btn-success" data-dismiss="modal" type="button"
                            onclick="updateCurrentVenue()">{{SAVE}}</button>
                    <button class="btn btn-danger" data-dismiss="modal" type="button"
                            onclick="close()">{{CLOSE}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/plugins/jquery-3.2.1.min.js"></script>
<script src="/js/plugins/popper.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/fontAwesome.js"></script>
<script src="/js/plugins/handlebars.js"></script>
<script src="/js/plugins/jquery.toast.min.js"></script>
<script src="/js/customToaster.js"></script>
<script src="/js/util.js"></script>
<script src="/js/const.js"></script>
<script src="/js/dynamicElements.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/localization.js"></script>
<script src="/js/language.js"></script>
<script src="/js/login.js"></script>
<script src="/js/venueAdministration.js"></script>
<script>
    var acc = document.getElementsByClassName("card-header");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
</body>

</html>